{% extends 'mainapp/base.html' %}
{% load static %}


{% block header %}
<div class="hero-white">
    {% include 'mainapp/includes/inc_main_menu.html' %}
</div>
{% endblock %}


{% block content %}
<div class="details">
    
    {% include 'mainapp/includes/inc_products_menu.html' %}
    
    {% if request.resolver_match.kwargs.category_id is None and hot_product%}
    <div class="details-products">
        <div class="details-slider">
            <div class="slider-product">
                <img class="hot-product" style="width: 100%; height: auto" src="{{ hot_product.image.url }}">
            </div>
        </div>
        <div class="description">
            <h3 class="big-bold">{{ hot_product.name }}</h3>
            <h3 class="red">горячее предложение</h3>
            <p class="price">
                {{ hot_product.discount_price|floatformat:2 }} <span>руб</span>
                <hr>
                <span>Старая цена: {{ hot_product.price|floatformat:2 }} руб</span>
            </p>
            <a href="{% url 'basket:add' hot_product.id %}" class="red-button">
                заказать <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </a>
            <div class="description-text">
                <p>{{ hot_product.description }}
                </div>
            </div>
        </div>
        {% endif %}
        
        <div class="related">
            {% if request.resolver_match.kwargs.category_id is not None %}
            <div class="title clearfix" style="height: 70px">
                <h2  style="margin-top: 30px">Товары категории</h2>
            </div>
            {% else %}
            <div class="title clearfix">
                <h2>Все товары</h2>
                <a class="explore" href="#">показать все
                    <img src="{% static 'img/arrow.png' %}" alt="">
                </a>
            </div>
            {% endif %}
            <div class="related-products clearfix">
                {% for product in products %}
                <div class="block" style="margin-bottom: 30px;">
                    <a href="{% url 'products:product' product.pk %}">
                    <img style="height: 370px; width: 370px;" src="/media/{{ product.image }}" alt="">
                    <div class="text">
                        <img src="{% static 'img/icon-hover.png' %}" alt="img">
                        <h4>{{ product.name }}</h4>
                        <p>{{ product.description }}</p>
                        <p>{{ product.price }} руб.</p>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
